.topnav {
    overflow: hidden;
    background-color: #333;

    .icon{
        display: none !important;

        @media screen and (max-width: 600px) {
            float: right;
            display: block !important;
        }
    }


    @media screen and (max-width: 600px) {
        a:not(:first-child), :global(#sampah--Dropdown){
            display: none;
        }
    }
}

.open_menu{
    background: red;
}